.post-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 10px;
  line-height: 1;
}
.post-list a {
  width: 30%;
  margin: 1px auto;
  padding: 3px;
  text-decoration: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.7);
  margin-left: 20px;
}
